/* COMMON CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

span {
    color: red;
}

/* CSS STYLES FOR HEADER */
.website-intro {
    background-color: rgba(229, 84, 115, 0.10);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 97px;
    padding: 0 170px;
    margin-bottom: 100px;
}

.header-photo img {
    height: 300px;
    width: 300px;
}

.flower-headings {
    color: #272727;
    font-size: 55px;
    font-family: Lato;
    font-weight: 800;
    margin-bottom: 20px;
    padding-top: 20px;
}

.header-photo img {
    height: 550px;
    width: 450px;
    margin-top: 50px;
}

.flower-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    background-color: #E55473;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

/* HEADER STYLE END */

/* STYLE FOR BODY PART */

/* STYLE FOR FLOWER SECTION 1 */
.flower-section-1 {
    text-align: center;
    margin-top: 100px;
    width: 75%;
    margin: auto;
}

.section-1-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section-1-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
}

.section-1-img-items1 {
    background: rgba(167, 33, 98, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 350px;
    height: 400px;
    position: relative;
}

.section-1-images {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.section-1-img-box {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.section-1-img-box1 {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 20px;
    left: 20%;
}

.section-1-img-box2 {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.section-1-img-items2 {
    background: rgba(5, 150.70, 160, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 350px;
    height: 400px;
    position: relative;
}

.section-1-img-items3 {
    background: rgba(71, 125, 17, 0.15);
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    width: 350px;
    height: 400px;
    position: relative;
}

.section {
    position: absolute;
    left: 25%;
    bottom: -10%;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.section1 {
    position: absolute;
    left: 25%;
    bottom: -10%;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.section2 {
    position: absolute;
    left: 25%;
    bottom: -10%;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}


/* STYLE FOR FLOWER SECTION 2 */

.flower-section-2 {
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 100px;
}

.section-2-img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.section-2-para {
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 600;
}

/* SECTION 2 END */

/* STYLE FOR FLOWER SECTION 3 */

.flower-section-3 {
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    display: flex;
    gap: 182px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 80px 280px;
    margin-bottom: 100px;
}

.section-3-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-3-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* SECTION 3 END */

/* STYLE FOR FLOWER SECTION 4 */

.flower-section-4 {
    text-align: center;
    width: 70%;
    margin: auto;
}

.section-4-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-4-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.section-4-img-items {
    display: flex;
    justify-content: space-around;
    gap: 26px;
}

.section-4-img-cell {
    width: 280px;
    height: 320px;
}

.section-4-img-items {
    width: 75%;
    margin: auto;
}

/* SECTION 4 END */

/* SECTION 5 START */

.flower-section-5 {
    width: 70%;
    margin: auto;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    text-align: center;
    margin-bottom: 100px;
    height: 400px;
}

.section-5-container {
    padding-top: 100px;
    padding-left: 70px;
}

.section-5-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.section-5-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.section-5-input {
    width: 300px;
    height: 50px;
    border: none;
    padding-left: 20px;
    padding-right: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.flower-section-5 .section-5-container button {
    margin-left: 15px;
}

/* SECTION 5 END */


/* FOOTER CSS */
.flower-footer {
    background-color: #111010;
    text-align: center;
    padding: 100px;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-para {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}